.section__padding {
  padding: 3rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blc__bg {
  background: url('./assets/bg.png');   
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 3rem;
}

.blc__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.blc__wrapper_info {
  flex: 1;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 10rem;
}

.blc__wrapper_img {
  flex: 1;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blc__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.blc__wrapper_img img {
  width: 80%;
}

.custom__button {
    background-color: var(--color-crimson);
    color: var(--color-black);
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 1px;
    border: none;
    outline: none;
    cursor: pointer;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__sans {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 20px;
  padding: 1rem;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon__img {
  width: 45px;
}


@media screen and (max-width: 1150px) {
  .blc__wrapper {
    flex-direction: column;
  }

  .blc__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .blc__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .blc__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__sans {
    font-size: 14px;
  }
  
 .blc__wrapper_img img {
    max-width: 22rem;
    justify-content: center;
    align-items: center;
  }

  .headtext__cormorant {
    font-size: 3rem;
  }
}
